In [1]:
pip install beautifulsoup4
#install beautifulsoup if not

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from beautifulsoup4) (1.8)
Note: you may need to restart the kernel to use updated packages.

The presented notebook was made by Mario Emmanuel Rodriguez Trejo in order to make the first excercise of the third week of the Capstone project of Macine learning from IBM powered by the platform of Coursera.

Installed Beautiful soup

In [1]:
import requests
import urllib
from bs4 import BeautifulSoup
source = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').read()
soup = BeautifulSoup(source, 'html.parser')
# read wikipedia Link

In [2]:
My_table = soup.find('table',{'class':'wikitable sortable'})
#My_table
#sparse referenced table

In [3]:
import re
#import library to use regular expressions

In [4]:
table_2=[]
x_tr=My_table.find_all('tr')
for i in x_tr:
    try:
        for j in i.find_all('td'):
            try:  
                x_text=re.sub(r"(?<=[a-z])\r?\n","", j.get_text())
                table_2.append(x_text)
            except:
                next        
    except:
        next
#create a list of all text components of the table

In [5]:
table_k=[]
table_f=[]
count=0
for k in table_2:
    try:
        count=count+1
        if count==4:
            table_f.append(table_k)
            table_k=[]
            count=1
            #k.replaceAll('\n','')
            table_k.append(k)
        else:
            #k.replaceAll('\n','')
            table_k.append(k)
    except:
        next
# put each line of the wikipedia table in list of trios and then put them inside a list

In [6]:
import pandas as pd
df=pd.DataFrame(table_f,columns=['PostalCode','Borough','Neighborhood'])
df.head()
##transform previous list into a data frame to make it into a table.

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [7]:
#erase all lines in Borough column within "Not assigned" text.
df1=df
df1=df1[df1.Borough != 'Not assigned']
df1.head()

#Find each line of Neighborhood column that has the text "Not assigned" and then copy the text from Borough column with the respective row.
index_list=df1.index[df1.Neighborhood=='Not assigned'].tolist()
df1.loc[min(index_list):max(index_list),'Neighborhood'] = df1.loc[min(index_list):max(index_list),'Borough'].to_numpy()
#

df1.head(10)

/home/jupyterlab/conda/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Queen's Park
10        M9A         Etobicoke  Islington Avenue
11        M1B       Scarborough             Rouge
12        M1B       Scarborough           Malvern

In [8]:
#filter unique text in postalcode column and join text with commas from neighborhood column into a single row per unique PostalCode value.
df2=df1.groupby("PostalCode").agg(lambda x:', '.join(set(x)))
# put PostalCode column as a normal column by reseting the index
df2.reset_index(level=0, inplace=True)
df2.head(15)
#print table

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Malvern, Rouge
1         M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                  Morningside, Guildwood, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        Ionview, Kennedy Park, East Birchmount Park
7         M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough    Cliffside, Scarborough Village West, Cliffcrest
9         M1N  Scarborough                        Cliffside West, Birch Cliff
10        M1P  Scarborough  Scarborough Town Centre, Wexford Heights, Dors...
11        M1R  Scarborough                                  Wexford, Maryvale
12        M1S  Scarborough                                          Agincourt
13        M1T  Scarborough            Sullivan, Clarks Corners, Tam O'Shanter
14        M1V  Scarborough  Agincourt North, Steeles East, L'Amoreaux East...

In [9]:
df2.shape
# get the shape of the last table

(103, 3)